.contack{
	background: #9ee1f4eb;
	width: 1040px;
	margin: 100px auto;
	padding: 70px 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 12px;
 
}
.center h3{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 3px;
	color: var(--bg-color);
}
.center p{
	font-size:  1.1rem;
	color:  #1b1c1c;
	line-height: 26px;
	margin-bottom: 25px;
}
.contack .acton form input[type="email"] {
	max-width: 100%;
	width: 470px;
	padding: 12px 15px;
	background: #fff;
	color:  #000;
	border: none;
	outline: none;
	margin: 0 10px 20px 0;
	border-radius: 30px;
}
.contack .acton form input[type="submit"] {
	padding: 12px 40px;
	background:rgb(13, 225, 186);
	color:  #fff;
	border: none;
	outline: none;
	margin: 0 10px 20px 0;
	border-radius: 30px;
	cursor: pointer;
}

/*media*/
@media (max-width: 1425px){
	.contack{
		width: 95%;
		transition: .3s;
	}
	 
}
 
 
/*540 media*/
@media (max-width: 540px){
	.contack .acton form input[type="email"] {
		width: 310px;
	}
}